@import "../../styles/variables";
@import "../../styles/mixins";

.bioSlide {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  padding: $side-padding;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .titleS {
    display: none;
  }

  .leftSide {
    width: 50%;
    text-align: center;

    .info {
      p {
        font-weight: $font-weight-light;
        font-size: clamp(1rem, 1.05vw, 18rem);
        line-height: 1.3rem;
      }

      h1 {
        opacity: 0.3;
        font-size: clamp(1rem, 4.5vw, 18rem);
        margin-bottom: 1rem;
      }
    }
  }

  hr {
    height: 65vh;
    border-color: $color-secondary;
    margin: 0;
  }

  .rightSide {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-family: $font-title;
      font-size: 5rem;
      margin-bottom: 0.5rem;

      .subTitle {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        line-height: 4rem;

        .me {
          color: $color-secondary;
        }

        .bio {
          opacity: 0.3;
        }
      }
    }

    .buttonCV {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 11rem;
      height: 2.5rem;
      border: 2px solid $color-secondary;
      border-radius: 5px;
      margin-top: 2rem;
      margin-bottom: 5rem;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $color-secondary;
        font-weight: $font-weight-medium;
        font-size: 0.8rem;
      }
    }

    .radioButtons {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      input[type="radio"] {
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        width: 1rem;
        height: 1rem;
        border: 2px solid $color-primary;
        opacity: 0.3;
        border-radius: 50%;
        background-color: transparent;
        transition: opacity 0.5s ease;

        &:hover {
          background-color: $color-secondary;
          border: none;
          opacity: 0.5;
        }

        &:checked {
          background-color: $color-secondary;
          border: 2px solid $color-secondary;
          opacity: 1;
          box-shadow: 0 0 0 5px rgba($color-secondary, 0.3);
        }
      }

      input[type="radio"]:disabled {
        cursor: auto;
      }
    }
  }

  @include respond("xs") {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .titleS {
      display: flex;
      flex-direction: column;
      font-family: $font-title;
      font-size: 16vw;
      margin-top: 4vh;
      margin-bottom: 3vh;

      .subTitleS {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        font-size: 15vw;
        line-height: 3rem;

        .meS {
          color: $color-secondary;
        }

        .bioS {
          opacity: 0.3;
        }
      }
    }

    .leftSide {
      width: 95%;
      text-align: center;

      .info {
        p {
          font-weight: $font-weight-light;
          font-size: clamp(0.75rem, 3vw, 18rem);
          line-height: 1rem;
        }

        h1 {
          font-size: 12vw;
          margin-bottom: 1vh;
          margin-top: 5vh;
        }
      }
    }

    hr {
      display: none;
    }

    .rightSide {
      width: 95%;

      .title {
        display: none;
      }

      .buttonCV {
        width: 9rem;
        height: 2rem;
        margin-top: 3vh;
        margin-bottom: 3.5vh;

        a {
          font-size: 0.65rem;
        }
      }

      .radioButtons {
        margin-bottom: 4vh;

        input[type="radio"] {
          width: 0.75rem;
          height: 0.75rem;
        }
      }
    }
  }
}
