@import "../../styles/variables";
@import "../../styles/mixins";

.tickerContainer {
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    rgb(0, 0, 0) 30%,
    rgb(0, 0, 0) 70%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    rgb(0, 0, 0) 30%,
    rgb(0, 0, 0) 70%,
    transparent
  );

  .tickerContent {
    display: inline-flex;

    .tickerWord {
      font-style: italic;
      font-size: 2rem;
      margin-left: 5vw;
      margin-right: 5vw;
    }
  }

  @include respond("xs") {
    .tickerContent {
      .tickerWord {
        font-size: 1rem;
      }
    }
  }
}
