//fonts
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wdth,wght@0,50..150,100..900;1,50..150,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100..900&display=swap');
//font-family
$font-body: 'Anybody', sans-serif;
$font-title: 'Big Shoulders Inline Text', cursive;
//witght
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
//style
$font-style-italic: italic;

//colors
$color-primary: #ffffff;
$color-secondary: #C1244B;

//side-spacing
$side-padding: 30px;


