@import "../../styles/variables";
@import "../../styles/mixins";

.skillsSlide {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
  font-family: $font-body;
  font-weight: $font-weight-semibold;
  color: $color-primary;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .titleS {
    display: none;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14%;

    .title {
      display: flex;
      flex-direction: column;
      font-family: $font-title;
      font-weight: $font-weight-semibold;
      font-size: 5rem;
      letter-spacing: 0.09rem;
      margin-bottom: 0.5rem;

      .subTitle {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        line-height: 4rem;
        

        .me {
          color: $color-secondary;
        }

        /* .skills {
          color: $color-primary;
          font-family: $font-body;
          font-weight: $font-weight-regular;
          font-size: 2rem;
          opacity: 0.3;
        } */

        .skills {
          opacity: 0.3;
          font-size: 2.5rem;
        }
      }
    }

    .buttonCV {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
      height: 2.5rem;
      border: 2px solid $color-secondary;
      border-radius: 5px;
      margin-bottom: 5rem;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $color-secondary;
        font-weight: $font-weight-medium;
        font-size: 0.8rem;
      }
    }

    .radioButtons {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      input[type="radio"] {
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        width: 13px;
        height: 13px;
        border: 2px solid $color-primary;
        opacity: 0.3;
        border-radius: 50%;
        background-color: transparent;
        transition: opacity 0.5s ease;

        &:hover {
          background-color: $color-secondary;
          border: none;
          opacity: 0.5;
        }

        &:checked {
          background-color: $color-secondary;
          border: 2px solid $color-secondary;
          opacity: 1;
          box-shadow: 0 0 0 5px rgba($color-secondary, 0.3);
        }
      }
    }
  }

  hr {
    height: 60%;
    border-color: $color-secondary;
    margin: 100px;
  }

  .rightSide {
    width: 55%;

    .skills {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 25px;
        padding-right: 25px;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @include respond("s") {
    flex-direction: column;

    .titleS {
      display: flex;
      flex-direction: column;
      font-family: $font-title;
      font-weight: $font-weight-semibold;
      font-size: 3.5rem;
      letter-spacing: 0.09rem;
      margin-bottom: 1rem;
      order: -1;

      .subTitleS {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        line-height: 4rem;

        .meS {
          color: $color-secondary;
        }

        .bioS {
          color: $color-primary;
          font-family: $font-body;
          font-weight: $font-weight-regular;
          font-size: 1.3rem;
          opacity: 0.3;
        }
      }
    }

    .leftSide {
      width: 90%;
      order: 1;

      .title {
        display: none;
      }

      .buttonCV {
        margin-top: 3.4rem;
        margin-bottom: 2rem;
      }
    }

    hr {
      display: none;
    }

    .rightSide {
      width: 90%;
      order: 0;

      .skills {
        flex-direction: column;

        ul {
          flex-direction: row;
          padding-left: 25px;
          padding-right: 25px;
          margin: 0
        }

        li {
          display: flex;
          align-items: center;
          justify-content: center;

          img{
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }
}
