@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.socialContainer {
  display: flex;

  .circle {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-primary;
    border-radius: 50%;
    margin-right: 15px;
    transition: 0.5s ease;

    .icon {
      color: $color-primary;
    }

    &:hover {
      border: 2px solid $color-secondary;
      background-color: $color-secondary;
    }

    @include respond("xs") {
      border: none;
      margin-right: 0;
    }
  }
}
