@import "../../styles/variables";
@import "../../styles/mixins";

.socialContainer {
  display: flex;

  .circle {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 15px;
    transition: 0.5s ease;

    .icon {
      color: white;
    }

    &:hover {
      border: 2px solid $color-secondary;
      background-color: $color-secondary;
    }

    /* Mixin - mobile */
    @include respond("s") {
      border: none;
      margin-right: 0;
    }
  }
}
