@import "../../styles/variables";
@import "../../styles/mixins";

.aboutWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  .slideWrapper {
    display: flex;
    align-items: center;
    width: 200%;
    height: 100%;
    transition: transform 1s ease-in-out;
  }
}

