@import "../../styles/variables";
@import "../../styles/mixins";

.hobbiesContainer {
  margin: 3rem;
  font-size: 2em;
  font-weight: $font-weight-regular;
  font-style: $font-style-italic;
  line-height: 1rem;
  letter-spacing: 0.09rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space: nowrap;

  .hoobiesTitle {
    opacity: 0.3;
  }

  .hobbiesContent {
    display: inline-block;
    color: #fff;

    .hobbyWord {
      display: block;
      animation: animation 4s infinite;
    }
  }

  @include respond("s") {
    margin-bottom: 1.5rem;
  }
}

@keyframes animation {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
